@font-face {
  font-family: 'Gilroy-Bold';
  src:
    local('Gilroy-Bold'),
    url(./assets/fonts/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src:
    local('Gilroy-Regular'),
    url(./assets/fonts/Gilroy-Regular.ttf) format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(180deg, #d0e, #91f);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
